*{
    font-family: "Poppins" sans-serif;
}

.navbar{
    background-color: #fff;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

.navbar-brand{
    font-weight: 500;
    color: #009970;
    font-size: 24px;
    transition: 0.3s color;
}

.login-button{
    background-color: #009970;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover{
    background-color: #00b383;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}

.nav-link{
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}

@media (min-width: 991px){
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
        height: 2px;
        background-color: #009970;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before{
        width: 100%;
        visibility: visible;
    }
}


.hero-section{
    background: url(https://th.bing.com/th/id/OIP.Ur0rR7-Bx0gz0tFxXB04PQHaDt?rs=1&pid=ImgDetMain) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.hero-section::before{
    background-color: rgb(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-section .container{
    height: 100vh;
    z-index: 1;
    position: relative;
}

/* Cambiar el fondo de la página */
body {
    background-image: url(https://th.bing.com/th/id/OIP.Ur0rR7-Bx0gz0tFxXB04PQHaDt?rs=1&pid=ImgDetMain);
}

/* Formulario en el centro, más pequeño y con bordes */
.form-container {
    background-color: #ffffff;
    border-radius: 10px; /* Bordes redondeados */
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    max-width: 80%; /* Limitar el ancho máximo */
    margin: 0 auto; /* Centrar el formulario */
}

/* Reducir el tamaño de la fuente dentro del formulario */
.form-container .form-floating input, 
.form-container .form-floating select {
    font-size: 0.9rem; /* Hacer más pequeño el texto */
}

/* Ajustes para el botón de enviar */
.form-container button {
    font-size: 1.2rem; /* Aumentar el tamaño de la fuente */
    padding: 12px 30px; /* Aumentar el padding para hacerlo más grande */
    width: 100%; /* Hacer que el botón ocupe todo el ancho disponible */
}

.volver-button{
    background-color: #009970;
    color: #fff;
    font-size: 14px;
     margin-left: 20px; /* Más espacio desde el borde izquierdo */
    margin: 10px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.volver-button:hover{
    background-color: #00b383;
}